body{
    margin: 0px;
    padding: 0%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
    list-style-type: none;
    text-decoration: none;
    width: 100vw;
    height: 20%;
    margin: -8px;

}